#### print() function

In [5]:
print(help(print))

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

None

In [6]:
print("hello world") # prints string

hello world

In [7]:
print(*"hello world") # here * denotes variable length argument

h e l l o   w o r l d

In [9]:
print("hello "," world")  # we can give any number of values in print function to stream

hello   world

In [10]:
print(*"sparsh",sep="\t")

s	p	a	r	s	h

In [13]:
print(*"hello",end="\n")  #use of end and sep
print(*"sparsh",sep="\t")

h e l l o
s	p	a	r	s	h

In [14]:
type(print())  # print function is none type

NoneType

##### input() function

###### input() is a function which is used to take entries from the user
# it enable us to provide data required by the program
# input() function return string 
# we can typecast output generated by the input() function to desired datatype.

In [2]:
input()

sparsh

'sparsh'

In [6]:
x=input("Enter your name :")
print(type(x))
print(x)

Enter your name :sparsh
<class 'str'>
sparsh

In [8]:
x=input("x:")
y=input("y:")
print(x+y)
##here x and y are strings thats why string concatenation takes place.

x:3
y:4
34

In [9]:
x=int(input("x:"))
y=int(input("y:"))# for adding two numbers we need to typecast string into int,float.

print(x+y)

x:3
y:4
7

In [17]:
# we can aslo take two input seperated by integer using input() function.
x,y=map(int,(input("enter two number seperated by space").split()))
print(x)
print(y)

# split() function actually return list whose members are produced by spliting string from where we encounter space.
# map (datatype,iterable)  return map object   maps each value of iterable to specified datatype one by one.

enter two number seperated by space12 23
12
23

In [18]:
x=' i am brave'
x.split()#--->list

['i', 'am', 'brave']

In [20]:
x=float(input())
print(type(x))

4.5
<class 'float'>

In [22]:
x=eval(input())  # eval function itself identifies what the class of given value.   
print(type(x))

5
<class 'int'>

In [23]:
x=eval(input())
print(type(x))

2.3
<class 'float'>

In [24]:
x=eval(input())
print(type(x))

'sparsh'
<class 'str'>

In [25]:
x=eval(input())
print(type(x))

[1,2,3,4]
<class 'list'>

In [26]:
x=eval(input())
print(type(x))

(1,2,3,4,)
<class 'tuple'>

In [27]:
x=eval(input())
print(type(x))

{1:'sparsh',2:'jain'}
<class 'dict'>

In [28]:
x=eval(input())
print(type(x))

{1,2,3}
<class 'set'>

###### basic functions used in python

In [44]:
x=bin(12)  #return binary number
x

'0b1100'

In [48]:
x=123
x.bit_length()  # returns amount of space used by integer in memory

7

In [50]:
len('sparsh') # len(iterable)  returns length of iterable

6

In [54]:
type(range(1,5))  # returns return object and provides value  one by one from specified range
#range(start,stop,step)

range

In [55]:
for i in range(1,5):
    print(i,end="\n")

1
2
3
4

In [32]:
oct(123)  #return octal number

'0o173'

In [33]:
hex(123)  # return hexadecimal number

'0x7b'

In [35]:
ord('A')  # returns ASCII value of characters

65

In [36]:
chr(65)  # return character associated to specified ASCII value

'A'

###### complex numbers

In [37]:
#complex numbers are those numbers which are wriiten in form of "real + img"
x=12+13j
type(x)

complex

In [38]:
y=13+10j
x+y  # addition of two complex numbers

(25+23j)

In [39]:
x*y  # multiplication of two comlplex numbers

(26+289j)

In [40]:
x-y  # substraction of two complex numbers

(-1+3j)

In [42]:
x/y  # division of two complex numbers

(1.0631970260223047+0.18215613382899623j)