### Type Conversion
### Python defines type conversion functions
### to directly convert one data type to another which is useful in day to day and competitive programming.

In [1]:
#int(a,base) : This function converts any data type to integer. 
#‘Base’ specifies the base in which string is if data type is string.
# initializing string 
s = "10010"
  
# printing string converting to int base 2 
c = int(s,2) 
print ("After converting to integer base 2 : ", c)

After converting to integer base 2 :  18

In [2]:
#float() -> This function is used to convert any data type to a floating point number
e = float(s) 
print ("After converting to float : ", e)

After converting to float :  10010.0

In [3]:
#hex() -> This function is to convert integer to hexadecimal string.
#oct() -> This function is to convert integer to octal string.

# initializing integer 
s = '4'
  
# printing integer converting to hexadecimal string 
c = hex(56) 
print ("After converting 56 to hexadecimal string : ",c) 
  
# printing integer converting to octal string 
c = oct(56) 
print ("After converting 56 to octal string : ",c)

After converting 56 to hexadecimal string :  0x38
After converting 56 to octal string :  0o70

In [4]:
#tuple() -> This function is used to convert to a tuple.
    
#set() -> This function returns the type after converting to set.
    
#list() -> This function is used to convert any data type to a list type.

# initializing string 
s = 'python'
  
# printing string converting to tuple 
c = tuple(s) 
print ("After converting string to tuple : ",c)  
  
# printing string converting to set 
c = set(s) 
print ("After converting string to set : ",c) 
  
# printing string converting to list 
c = list(s) 
print ("After converting string to list : ",c)

After converting string to tuple :  ('p', 'y', 't', 'h', 'o', 'n')
After converting string to set :  {'y', 'h', 't', 'n', 'o', 'p'}
After converting string to list :  ['p', 'y', 't', 'h', 'o', 'n']

In [5]:
#dict() -> This function is used to convert a tuple of order (key,value) into a dictionary.

#str() -> Used to convert integer into a string.

#complex(real,imag) -> This function converts real numbers to complex(real,imag) number.

# initializing integers 
a = 1
b = 2
  
# initializing tuple 
tup = (('a', 1) ,('f', 2), ('g', 3)) 
  
# printing integer converting to complex number 
c = complex(1,2) 
print ("After converting integer to complex number : ",c) 
  
# printing integer converting to string 
c = str(a) 
print ("After converting integer to string : ",c) 
  
# printing tuple converting to expression dictionary 
c = dict(tup) 
print ("After converting tuple to dictionary : ",c)

After converting integer to complex number :  (1+2j)
After converting integer to string :  1
After converting tuple to dictionary :  {'a': 1, 'f': 2, 'g': 3}

## Operators
##### Arithmetic Operators
#### Comparison Operators
#### Logical Operators
#### Assignment Operators
#### Binary Operators
#### Identity Operators
#### Membership Operators
## Arithmetic Operators
#### Addition Operator ( + )
#### Subtraction Operator ( - )
#### Multiplication Operator ( * )
#### Division Operator ( / )
#### Modulas Operator ( % )
#### Floor Division ( // )
#### Exponent Operator ( ** )

In [6]:
#Addition Operator 
x = 10
y = 3
z = x + y
print("Addition of {} and {} is {}.".format(x,y,z))
#Value of          x       y     z
x = 'hello '
y = 'world'
print(x+y)
l1 = [ 1,2,3]
l2 = [ 4,5,6]
print(l2 + l1 )
t1 = ('one','two','three')
t2 = ('four','five','six')
print(t1+t2)
''' Dictionary can not be processed by Airthmatic Operators
d = { 1:'one',2:'two'}
d1 = { 3:'three',4:'four'}
print(d+d1)
'''
""" Sets can not be processed by Airthmatic Operators
s1 = { 1,2,3 }
s2 = { 4,5,6 }
print(s1+s2)
"""

Addition of 10 and 3 is 13.
hello world
[4, 5, 6, 1, 2, 3]
('one', 'two', 'three', 'four', 'five', 'six')

' Sets can not be processed by Airthmatic Operators\ns1 = { 1,2,3 }\ns2 = { 4,5,6 }\nprint(s1+s2)\n'

In [7]:
#Subtraction Operator
x = 10
y = 50
print(x-y)
#s = 'hello'
#l = 'world' #strings cannot be subtracted
#print(s-l)
l1 = [ 1,2,3] #list does not support subtraction operation
l2 = [ 4,5,6]
print(l1-l2)

-40

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [8]:
#Multiplication Operator
x = 53
y = 20 
print(x*y)
s = 'Hello_World '
k = ' Hi '
#print(s*k)
print(5*s)  #print s 5 times
print(k*3) #print k 3 times
l1 =[1,2,3]
print(l1*3) #returns list 3 times
l2 = [ 4,5,6]
print(l1*l2) # does not support multiplication

1060
Hello_World Hello_World Hello_World Hello_World Hello_World
 Hi  Hi  Hi
[1, 2, 3, 1, 2, 3, 1, 2, 3]

TypeError: can't multiply sequence by non-int of type 'list'

In [9]:
#Division Operator
x = 53
y = 12
print(x/y) #Absolute Division
print(x%y) #Remainder
print(x//y) #Quitont

4.416666666666667
5
4

In [10]:
#Exponent
x = 5
y = 3
print(x**y)

125

##### Comparison Operators
#### Less Than ( < )
#### Less Than Equals To ( <= )
#### Greater Than ( > )
#### Greater Than Equals To ( >= )
#### Equals To Equals To ( == )
#### Not Equals To ( != )

In [11]:
#returns true if statement is True else returns False
print("6 < 8 ", 6 < 8)
print("8 < 6 ", 8 < 6)
print("6 <= 6 ", 6 <= 6)
print("6 <= 3 ", 6 <= 3)
print("5 > 6 ", 5 > 6)
print("6 > 5 ", 6 > 5 )
print("6 >= 6 ", 6 >= 6)
print("6 >= 5 ", 6 >= 5)
print("6 == 6 ", 6 == 6)
print("6 == 7 ",6 == 7)
print("6 != 6 ", 6 != 6)
print("6 != 7 ", 6 != 7)

6 < 8  True
8 < 6  False
6 <= 6  True
6 <= 3  False
5 > 6  False
6 > 5  True
6 >= 6  True
6 >= 5  True
6 == 6  True
6 == 7  False
6 != 6  False
6 != 7  True

## Logical Operators¶
### and
###  or
### not

In [12]:
print( 6-4*3+6 and 6 < 5 )
print( 6-4*3+6 or 6 < 5)
print( not True )

0
False
False

In [13]:
print( 6 and -12)  #because both are true hence the function returns any of these
print( 1 and None) #here it is an and operation between true and false

-12
None

In [14]:
print( [1,2,3] and { 1 : 'one'})

{1: 'one'}

In [15]:
t = True
f = False 
print("X\tY\tand\tor")
print("{}\t{}\t{}\t{}".format(t, t, t and t, t or t))
print("{}\t{}\t{}\t{}".format(t, f, t and f, t or f))
print("{}\t{}\t{}\t{}".format(f, t, f and t, f or t))
print("{}\t{}\t{}\t{}".format(f, f, f and f, f or f))

X	Y	and	or
True	True	True	True
True	False	False	True
False	True	False	True
False	False	False	False

In [17]:
print("X\tnot")
print("{}\t{}".format(True,not True))
print("{}\t{}".format(False,not False))

X	not
True	False
False	True

# ASSIGNMENT OPERATOR

In [18]:
x = 'something'
print(x)

something

In [19]:
k = ( (6*5/2-5) and (6<4 or 3 > 6) ) or (10/2*3-1)
print(k)

14.0

x = 6+7
print(x)
x,y = 8,7
l = ['hi','hello','how are you']
a,b,c = l
print(x,y,a,b,c)

In [21]:
x = 5
y = 6
x,y=y,x
print(x,y)
a = 4
b = 6
c  = 10
a,b,c=a+b,a-b,c*b
print(a,b,c)

6 5
10 -2 60

# MEMBERSHIP OPERATOR

In [22]:
# in , not in 
s2 = "Dog is an animal."
s1 = "Dog"
x = s1 in s2
if x :     
    print("Pattern Found in step 1")   #return this if x=True
else :
    print("Patten Not Found")
p = s1 not in s2
y = s1 in s2
q = s1 not in s2
print(x)
print(p)
print(y)
print(q)

Pattern Found in step 1
True
False
True
False

In [23]:
l1 = [ 1,2,6,5,[3,4]]
l2 = [ 3,4]
if l2 in l1 :
    print("l2 found in l1")
else :
    print("No Pattern Found")

l2 found in l1

In [24]:
l = [ 1,2,6,324,23,4234,54,2342,3432]
if int(input("Enter a number : ")) in l :   #takes input and convert it into int
    print("Number found in list")
else :
    print("No such number in our list")

Enter a number : 5
No such number in our list

# IDENTITY OPERATOR

In [25]:
#is or is not
x = 5
y = 5
print(x is y)
print( x is not y )
p = 3
q = 4
if p is q :
    print("Both are equal")
else :
    print("Both are different")

True
False
Both are different